### Źródło danych

Dane o wynikach zawodników pochodzą z https://en.volleyballworld.com/en/vnl/2019/men/statistics a pobrane w zostały z https://www.kaggle.com/kerneler/starter-fibv-2020-statistics-eb7dfa73-a/data . Są to dane z wstępnej fazy ligi narodów w 2019 roku.

Dane są podzielona na 6 kategorii staystyk odnoszących się do:
1. Ataku
2. Bloku
3. Obrony
4. Przyjęcia
5. Zagrywki
6. Rozegrania

W kazdej z tych kategorii przypiszemy zawodnikowi pewną ilość punktów, a nastepnie określimy jego finalny wynik sumując rezultat poszczególnych kategorii.

Metryki odpowiednich kategorii będą się nazywać:  
1. Attack Score  
2. Block Score  
3. Dig Score  
4. Receive Score  
5. Serve Score  
6. Set Score  

Parametry do obliczenia każdej z tych metryk są uznaniowe i bazują na doświadczeniu badacza które nie jest duże.

Końcową mętrykę będącą sumą powyższych nazywamy **Total Score**

### Uwagi

Metryka Total Score sprawdza się tylko do porównania zawodników którzy rozegrali porównywalną ilość setów/akcji ponieważ nie uwzglednia ich ilości.

In [1]:
import pandas as pd

In [2]:
men_best_attackers = pd.read_csv("./FIBV_2020_Statistics_PreliminaryRound/Men_Statistics/men_best_attackers.csv")
men_best_blockers  = pd.read_csv("./FIBV_2020_Statistics_PreliminaryRound/Men_Statistics/men_best_blockers.csv")
men_best_diggers   = pd.read_csv("./FIBV_2020_Statistics_PreliminaryRound/Men_Statistics/men_best_diggers.csv")
men_best_recievers = pd.read_csv("./FIBV_2020_Statistics_PreliminaryRound/Men_Statistics/men_best_recievers.csv")
men_best_servers   = pd.read_csv("./FIBV_2020_Statistics_PreliminaryRound/Men_Statistics/men_best_servers.csv")
men_best_setters   = pd.read_csv("./FIBV_2020_Statistics_PreliminaryRound/Men_Statistics/men_best_setters.csv")

### Attack Score

Do policzenia wyniku za ataki posłużymy się wzorem:

Attack Score = 0.8 * (ataki pomyślne) - (ataki błędne)

In [3]:
def attack_score(row):
    return 0.8 * row['Spikes'] - row['Faults']

men_best_attackers['Attack Score'] = men_best_attackers.apply(attack_score, axis=1)

men_best_attackers.sort_values(by=['Attack Score'], ascending=False)

,Rank,ShirtNumber,Name,Team,Spikes,Faults,Shots,Total attempts,Success %,Attack Score
1,2,10,Amir Ghafour,IRI,214,59,120,393,54.45,112.2
4,5,14,Yuki Ishikawa,JPN,170,40,112,322,52.80,96.0
0,1,12,Bruno Lima,ARG,177,50,98,325,54.46,91.6
2,3,18,Ricardo Lucarelli Souza,BRA,173,54,91,318,54.40,84.4
13,14,13,Simon Hirsch,GER,170,55,131,356,47.75,81.0
...,...,...,...,...,...,...,...,...,...,...
62,63,29,Rafael Araujo,BRA,0,1,0,1,NaN,-1.0
177,178,13,Michal Kubiak,POL,12,11,17,40,NaN,-1.4
42,43,7,Harrison Peacock,AUS,0,2,2,4,NaN,-2.0
50,51,24,Elliott Viles,AUS,7,10,12,29,NaN,-4.4
70,71,10,Valentin Bratoev,BUL,4,12,12,28,NaN,-8.8

### Block Score

Do policzenia wyniku za bloki posłużymy się wzorem:

Block Score = 1.5 * (bloki pomyślne) - 0.25 * (bloki błędne) + 0.5 * (odbicia)

In [4]:
def block_score(row):
    return 1.5 * row['Stuff Blocks'] - 0.3 * row['Faults'] + 0.5 * row['Rebounds']

men_best_blockers['Block Score'] = men_best_blockers.apply(block_score, axis=1)

men_best_blockers.sort_values(by=['Block Score'], ascending=False)

,Rank,ShirtNumber,Name,Team,Stuff Blocks,Faults,Rebounds,Total Attempts,Average Per Set,Block Score
2,3,20,Ilyas Kurkaev,RUS,33,81,73,187,0.49,61.7
0,1,17,Graham Vigrass,CAN,31,63,65,159,0.53,60.1
7,8,12,Maxwell Holt,USA,30,41,45,116,0.42,55.2
8,9,23,Flavio Gualberto,BRA,31,75,59,165,0.40,53.5
16,17,20,David Smith,USA,25,54,63,142,0.35,52.8
...,...,...,...,...,...,...,...,...,...,...
239,240,16,Tomas Kocian-Falkenbach,GER,0,4,1,5,NaN,-0.7
246,247,1,Valdir Sequeira,POR,0,6,2,8,NaN,-0.8
248,249,29,Kirill Ursov,RUS,0,3,0,3,NaN,-0.9
237,238,14,Eric Loeppky,CAN,0,5,1,6,NaN,-1.0
240,241,19,Daniel Malescha,GER,0,13,4,17,NaN,-1.9

### Dig Score

Do policzenia wyniku za obrony posłużymy się wzorem:
    
Dig Score =  (obrony z przyjęciem) + 0.3 * obrony - 0.3 * (obrony błędne)

In [5]:
def dig_score(row):
    return 1.0 * row['Receptions']  + 0.3 * row['Digs']  - 0.3 * row["Faults"]

men_best_diggers['Dig Score'] = men_best_diggers.apply(dig_score, axis=1)

men_best_diggers.sort_values(by=['Dig Score'], ascending=False)

,Rank,ShirtNumber,Name,Team,Digs,Faults,Receptions,Total attempts,Average per set,Dig Score
3,4,10,Julian Zenger,GER,126,41,61,228,1.97,86.5
7,8,22,Tomohiro Yamamoto,JPN,94,23,57,174,1.59,78.3
0,1,9,Santiago Danani,ARG,143,57,45,245,2.42,70.8
2,3,11,Luke Perry,AUS,122,46,44,212,2.14,66.8
1,2,11,Fabio Balaso,ITA,121,35,41,197,2.16,66.8
...,...,...,...,...,...,...,...,...,...,...
286,287,30,Nikolay Kolev,BUL,0,1,0,1,NaN,-0.3
288,289,25,Lukas Maase,GER,0,1,0,1,NaN,-0.3
277,278,24,Adam Schriemer,CAN,1,3,0,4,0.02,-0.6
289,290,2,Ilia Vlasov,RUS,0,2,0,2,NaN,-0.6
273,274,3,Luca Spirito,ITA,1,5,0,6,0.02,-1.2

### Recieve Score

Do policzenia wyniku za przyjęcia posłużymy się wzorem:

Recieve Score = 0.5 * (przyjęcia wyśmienite) + 0.2 * (przyjęcia) - 0.2 * (przyjęcia niepomyślne)

In [6]:
def recieve_score(row):
    return 0.5 * row['Excellents'] + 0.2 * row['Serve receptions'] - 0.2 * row["Faults"]

men_best_recievers['Recieve Score'] = men_best_recievers.apply(recieve_score , axis=1)

men_best_recievers.sort_values(by=['Recieve Score'], ascending=False)

,Rank,ShirtNumber,Name,Team,Excellents,Faults,Serve receptions,Total attempts,Efficiency %,Recieve Score
0,1,4,Thales Hoss,BRA,104,23,231,358,22.63,93.6
2,3,9,Santiago Danani,ARG,89,23,229,341,19.35,85.7
20,21,18,Bartosz Kwolek,POL,61,22,268,351,11.11,79.7
3,4,18,Garrett Muagututia,USA,74,15,228,317,18.61,79.6
4,5,10,Julian Zenger,GER,73,19,222,314,17.20,77.1
...,...,...,...,...,...,...,...,...,...,...
62,63,1,Georgi Bratoev,BUL,0,1,0,1,NaN,-0.2
139,140,12,Fabio Ricci,ITA,0,1,0,1,NaN,-0.2
243,244,25,Kyle Russell,USA,0,1,0,1,NaN,-0.2
233,234,13,Benjamin Patch,USA,0,1,0,1,NaN,-0.2
193,194,4,Denis Zemchenok,RUS,0,3,2,5,NaN,-0.2

### Serve Score

Do policzenia wyniku za zagrywki posłużymy się wzorem:

Serve Score = (asy) + 0.2 * (zagrywki w pole) - (faule)

In [7]:
def serve_score(row):
    return row['Aces'] + 0.2 * row['Hits'] - row["Faults"]

men_best_servers['Serve Score'] = men_best_servers.apply(serve_score, axis=1)

men_best_servers.sort_values(by=['Serve Score'], ascending=False)

,Rank,ShirtNumber,Name,Team,Aces,Faults,Hits,Total attempts,Average per set,Serve Score
27,28,16,Ali Shafiei,IRI,11,18,193,222,0.18,31.6
23,24,9,Georgi Seganov,BUL,11,17,176,204,0.19,29.2
87,88,4,Mir Saeid Marouflakrani,IRI,6,13,161,180,0.10,25.2
2,3,18,Ricardo Lucarelli Souza,BRA,23,33,175,231,0.30,25.0
126,127,7,Petar Krsmanovic,SRB,4,14,170,188,0.06,24.0
...,...,...,...,...,...,...,...,...,...,...
88,89,10,Kevin Le Roux,FRA,6,39,51,96,0.10,-22.8
67,68,2,Chuan Jiang,CHN,6,48,92,146,0.12,-23.6
49,50,19,Tsvetan Sokolov,BUL,8,47,56,111,0.14,-27.8
6,7,6,Alexandre Ferreira,POR,13,59,87,159,0.25,-28.6
16,17,18,Lincoln Alexander Williams,AUS,12,53,60,125,0.21,-29.0

### Set Score

Do policzenia wyniku za rozegrania posłużymy się wzorem:

Set Score = 0.12 * (zagrywki na maksymlanie 1 blokującego) + 0.6 * (zagrywki na 2 lub więcej blokujących) - faule

In [8]:
def set_score(row):
    return 0.12 * row['Running sets']  + 0.06 * row['Still sets'] - row["Faults"]

men_best_setters['Set Score'] = men_best_setters.apply(set_score , axis=1)

men_best_setters.sort_values(by=['Set Score'], ascending=False)

,Rank,ShirtNumber,Name,Team,Running sets,Faults,Still sets,Total attempts,Average per set,Set Score
0,1,4,Mir Saeid Marouflakrani,IRI,529,17,688,1234,8.53,87.76
1,2,21,Brett James Walsh,CAN,443,13,758,1214,7.64,85.64
4,5,17,Jan Zimmermann,GER,336,6,699,1041,5.25,76.26
8,9,24,Igor Kobzar,RUS,275,7,706,988,4.04,68.36
3,4,2,Arshdeep Dosanjh,AUS,308,10,677,995,5.40,67.58
...,...,...,...,...,...,...,...,...,...,...
57,58,7,Marco Evan Baptista Ferreira,POR,5,3,10,18,0.10,-1.80
280,281,8,Torey Defalco,USA,0,3,18,21,NaN,-1.92
141,142,9,Max Staples,AUS,1,3,15,19,0.02,-1.98
164,165,7,Purya Fayazi D.,IRI,1,4,31,36,0.02,-2.02
61,62,18,Lincoln Alexander Williams,AUS,5,5,13,23,0.09,-3.62

### Total Score

Końcowy wynik zawodnika jest sumą jego wyniki z wszystkich sześciu kategorii.

In [9]:
scores = men_best_attackers[['Name', 'ShirtNumber', 'Team']].copy()
scores = pd.merge(scores, men_best_attackers[['Team', 'ShirtNumber', 'Attack Score']], on=['Team', 'ShirtNumber'])
scores = pd.merge(scores, men_best_blockers[['Team', 'ShirtNumber', 'Block Score']], on=['Team', 'ShirtNumber'])
scores = pd.merge(scores, men_best_diggers[['Team', 'ShirtNumber', 'Dig Score']], on=['Team', 'ShirtNumber'])
scores = pd.merge(scores, men_best_recievers[['Team', 'ShirtNumber', 'Recieve Score']], on=['Team', 'ShirtNumber'])
scores = pd.merge(scores, men_best_servers[['Team', 'ShirtNumber', 'Serve Score']], on=['Team', 'ShirtNumber'])
scores = pd.merge(scores, men_best_setters[['Team', 'ShirtNumber', 'Set Score']], on=['Team', 'ShirtNumber'])

def total_score(row):
    return row['Attack Score'] + row['Block Score'] + row['Dig Score'] + row['Recieve Score'] + row['Serve Score'] + row['Set Score']

scores['Total Score'] = scores.apply(total_score, axis=1)

### Wyniki dla reprezentatów Polski

In [10]:
scores[scores['Team'] == 'POL'].sort_values(by=['Total Score'], ascending=False)

,Name,ShirtNumber,Team,Attack Score,Block Score,Dig Score,Recieve Score,Serve Score,Set Score,Total Score
142,Bartosz Kwolek,18,POL,42.4,25.7,53.6,79.7,11.8,1.22,214.42
139,Aleksander Sliwka,14,POL,63.6,14.8,23.6,41.9,12.6,-0.14,156.36
145,Bartosz Bednorz,22,POL,54.6,23.8,22.3,35.3,-6.4,1.08,130.68
133,Maciej Muzaj,2,POL,65.8,39.6,12.6,1.6,0.8,0.38,120.78
148,Karol Klos,77,POL,43.6,47.3,12.4,1.7,11.6,1.50,118.10
149,Norbert Huber,99,POL,34.4,48.9,15.2,3.4,11.4,0.78,114.08
134,Marcin Komenda,4,POL,2.4,19.4,20.5,0.2,17.8,52.56,112.86
143,Mateusz Bieniek,20,POL,39.0,22.7,9.3,0.6,19.4,0.42,91.42
135,Lukasz Kaczmarek,5,POL,33.8,22.2,20.8,1.3,2.6,0.84,81.54
140,Jakub Kochanowski,15,POL,29.8,33.5,16.6,0.8,-4.8,0.60,76.50
144,Tomasz Fornal,21,POL,8.6,18.3,19.6,22.2,4.0,0.84,73.54
147,Piotr Łukasik,27,POL,20.0,11.5,11.6,16.1,1.2,0.54,60.94
136,Artur Szalpuk,7,POL,15.4,8.9,4.6,16.9,11.8,-0.52,57.08
137,Fabian Drzyzga,11,POL,0.0,10.9,7.9,0.6,-0.6,19.18,37.98
138,Michal Kubiak,13,POL,-1.4,5.6,12.1,9.6,2.0,-0.22,27.68
132,Piotr Nowakowski,1,POL,3.2,14.9,7.7,0.5,-3.2,0.18,23.28
141,Bartlomiej Boladz,16,POL,8.0,3.9,3.1,-0.2,-2.6,0.30,12.50
146,Michał Szalacha,25,POL,1.4,2.4,0.3,0.2,1.8,0.06,6.16